/*

    Analytics

    @package      backend
    @subpackage   sea

    @author       Yoni De Beule <yoni@netlash.com>

*/


/* Hide header links */

.box .box h3 a, .box .box h4 a, .dataGridHolder .tableHeading h3 a {
	color: #000 !important;
	border: 0;
}

/* Analytics top data */

.analyticsColWrapper, .seaColWrapper { padding: 4px 10px; }
.analyticsColWrapper:after, .seaColWrapper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.analyticsCol {
float: left;
max-width: 243px;
width: 25%;
}

.analyticsCol strong, .seaCol strong {
	font-size: 16px;
	font-weight: 700;
}

.analyticsCol a, .seaCol a {
	font-size: 11px;
	font-weight: 700;
	border: 0;
	color: #0077cc; /* I'm changing the link color to match the Google Analytics layout */
	border: none;
}

.analyticsCol a:link, .seaCol a:link,
.analyticsCol a:visited, .seaCol a:visited {
	color: #0077cc;
}

.analyticsCol a:hover, .seaCol a:hover,
.analyticsCol a:active, .seaCol a:active {
	color: #001a77;
}

.analyticsCol small, .seaCol small {
	color: #999;
	font-size: 11px;
}

.seaCol {
float: left;
max-width: 324px;
width: 33.3%;
}

/* Analytics icon buttons */

	.boxLevel2 .heading a.linkButton {
		height: 18px;
		line-height: 18px;
		margin-right: 1px;
	}

		.boxLevel2 .heading a.linkButton span {
			margin-top: -2px;
			padding-top: 2px !important;
		}

/* Analytics containers */

.analyticsGraphWrapper { width: 100%; }
.analyticsGraphWrapper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

	.analyticsLeftCol {
		float: left;
		max-width: 291px;
		width: 30%;
	}

	.analyticsRightCol {
		float: right;
		max-width: 680px;
		width: 70%;
	}

		a.analyticsBacklink {
			float: left;
			border: 0;
			color: #999;
			padding-top: 8px;
			line-height: 16px;
			font-size: 11px;
		}

/* DataGrid holders */

#analyticsDataGridLeftCol {
	max-width: 504px;
	width: 49.3%;
	float: left;
}

#analyticsDataGridLeftCol .dataGrid th a, #analyticsDataGridLeftCol .dataGrid th span {
	white-space: nowrap;
}

#analyticsDataGridRightCol {
	max-width: 504px;
	width: 49.3%;
	float: right;
}

#analyticsDataGridRightCol .dataGrid th a, #analyticsDataGridRightCol .dataGrid th span {
	white-space: nowrap;
}

.box .options .dataGridHolder:last-child, .box .content .dataGridHolder:last-child {
	margin: 0;
}

/* Datefields */

#periodPickerForm input.inputText {
	width: 140px;
}

/* Settings page */

.box .box .dataGrid {
	border-top: 0;
}

/* URL Input */

input[type=text] {
	width: 320px;
}